domain_name                 = "example.com"
contact_email               = "admin@example.com"
static_ip_name              = "ai-demo-ip"
server_name                 = "ai-demo-server"
region                      = "us-central1"
zone                        = "us-central1-a"
network_tag                 = "http-server"
project_id                  = "my-gcp-project-id"
bucket_name                 = "ne-tf"
artifact_registry_repo_name = "insights-repo"
image_name                  = "insights-app"
port                        = "5309"
machine_type                = "e2-small"
boot_image                  = "ubuntu-os-cloud/ubuntu-2204-lts"
boot_disk_size_gb           = 30
db_disk_size_gb             = 20
ssh_user                    = "admin"
ssh_private_key_path        = "~/.ssh/google_compute_engine"
authorized_domains          = "example.com"
cloudflare_api_token        = "your-cloudflare-api-token"
cloudflare_zone_id          = "your-cloudflare-zone-id"
github_repo                 = "username/repo"