domain_name                 = "portfolio.example.com"
service_name                = "personal-portfolio"
region                      = "us-west1"
project_id                  = "my-gcp-project-id"
artifact_registry_repo_name = "personal-portfolio"
image_name                  = "personal-portfolio-app"
port                        = "1701"
cloudflare_zone_id          = "your-cloudflare-zone-id"
github_repo                 = "username/repo"
alert_email                 = "you@example.com"
